.Quantity {
  width: 100%;
  height: calc(100% - 19px);
  /* background: red; */
  display: flex;
  justify-content: center;
  /* align-items: center; */
  padding-top: 19px;
}
.container {
  width: calc(100% - 400px);
  height: calc(100% - 94px);
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 2px 20px 3px lightgray;
}
.header {
  width: 100%;
  height: 52px;
  background-color: #f9fafb;
  font-size: 16px;
  color: #1a1c20;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding-top:17px; */
  text-indent: 21px;
}
.closeIcon {
  margin-right: 22px;
  cursor: pointer;
}
.tabContent {
  height: calc(100% - 52px);
  width: 100%;
  /* background: red; */
}
.tabNav {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #e6e8ec;
  border-top: 2px solid #e6e8ec;
  display: flex;
  /* background: blue */
}
.tabitem {
  width: 159px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  background: #f9fafb;
  cursor: pointer;
  border-right: 1px solid #e6e8ec;
  font-size: 14px;
  color: #757981;
}
.tabcontainer {
  width: 100%;
  height: calc(100% - 43px);
  display: flex
  /* background: blue; */
}
.active {
  background-color: #ffffff;
  border-top: 2px solid #0057ff;
  height: 38px;
  color: #1a1c20;
}
.leftTree {
  width: 205px;
  height: 100%;
  /* background: red; */
}
.rightTable {
  width: calc(100% - 205px);
  height: 100%;
  /* background: blue; */
}
